#notifications,
#main,
.outside {
	width: auto;
}

.inside {
	width: auto !important;
	min-width: 0;
}
	#footnote .inside,
	#footer .inside {
		padding-left: 1.8em;
		padding-right: 1.8em;
	}

.pad {
	padding-left: 1.5em !important;
	padding-right: 1.5em !important;
}

#header {
	margin-bottom: 0;
}
	#header .inside {
		padding: 0 0.5em;
	}

#notifications,
#main {
	border-radius: 0;
}
	body.has-sidebar #main .pad {
		display: block;
	}

	body.has-sidebar #main #content,
	body.has-sidebar #main #sidebar {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}

#footnote,
#footer {
	margin-top: 0 !important;
}