a, a:link, a:visited {
	color: #dd4814;
}
	a:hover, a:active, a:focus {
		text-decoration: underline;
	}

strong, b {
	font-weight: 400;
}

em, i {
	font-style: italic;
}

ol {
	margin-left: 0.7em;
	counter-reset: steps;
}
	ol li:before {
		display: inline-block;
		margin-right: 0.7em;

		content: counter(steps) ".";
		counter-increment: steps;
	}
		

	ol.steps li {
		clear: left;
		display: block;
		float: left;

		min-height: 80px;
		margin-bottom: 1em;
	}
		ol.steps li:before {
			content: counter(steps);
			counter-increment: steps;

			display: block;
			float: left;

			width: 20px;
			padding: 20px 20px;
			margin-right: 20px;

			border-radius: 40px;

			background-color: #dd4814;
			color: #fff;

			font-size: 180%;
			font-weight: 400;

			line-height: 0.7em;
		}

	li ol, li ul {
		margin-bottom: 0;
	}

/*  WordPress stuff  */

.wp-caption {
	max-width: 100%;
}

/*  TinyMCE templates  */

#main a.button, #main a.button:link {
	padding: 0.5em 0.65em;
	border-radius: 3px;
	background-color: #dd4814;
	color: #fff;
	text-decoration: none;
}
	#main a.button:hover, #main a.button:active, #main a.button:focus {
		background-image: linear-gradient( to top, rgba( 0, 0, 0, 0.15 ), rgba( 0, 0, 0, 0.15 ) );
	}